<div class="panel-header">
  <h3>Home Address Information</h3>
</div>
<div class="panel-body">
  <div class="row">    
    <div class="col-md-3">
      <div class="form-group">
        <label for="street">Street</label>
        <input type="text" class="form-control" name="street" [(ngModel)]="customer.address.home.street" #name="ngModel" required>
      </div>
    </div>
    <div class="col-md-3">
      <div class="form-group">
        <label for="city">City</label>
        <input type="text" class="form-control" name="city" [(ngModel)]="customer.address.home.city" #name="ngModel" required>
      </div>
    </div>
    <div class="col-md-3">
      <div class="form-group">
        <label for="province">State/Province</label>
        <kendo-dropdownlist class="form-control" [data]="stateList" name="province" [(ngModel)]="customer.address.home.province"
          #name="ngModel" required>
        </kendo-dropdownlist>        
      </div>
    </div>
  </div>
  <div class="row">
    <div class="col-md-3">
      <div class="form-group">
        <label for="postalCode">Postal code</label>
        <input type="text" class="form-control" name="postalCode" [(ngModel)]="customer.address.home.postalCode" #name="ngModel">
      </div>
    </div>
    <div class="col-md-3">
      <div class="form-group">
        <label for="country">Country</label>
        <input type="text" class="form-control" name="country" [(ngModel)]="customer.address.home.country" #name="ngModel">
      </div>
    </div>
    <div class="col-md-3"></div>
    <div class="col-md-3"></div>
  </div>
</div>