<div class="panel-header">
  <h3>Basic Information</h3>
</div>
<div class="panel-body">  
  <div class="row">
    <div class="col-md-3">
      <div class="form-group" >
        <label class="control-label" for="firstName">First Name</label>
        <input type="text" class="form-control" name="firstName" [(ngModel)]="customer.firstName" #name="ngModel" required minlength="3"
          placeholder="First Name (required)">
        <span class="help-block" *ngIf="customer.firstName && (customer.firstName.touched || customer.firstName.dirty) && customer.firstName.errors">
                  <span *ngIf="customer.firstName.errors.required">
                      First name is required.
                  </span>
        <span *ngIf="customer.firstName.errors.minlength">
                      First name must be at least two characters.
                  </span>
        </span>
      </div>
    </div>
    <div class="col-md-3">
      <div class="form-group" >
        <label class="control-label" for="middleName">Middle Name</label>
        <input type="text" class="form-control" name="middleName" [(ngModel)]="customer.middleName" #name="ngModel" minlength="1"
          placeholder="Middle Name">
      </div>
    </div>
    <div class="col-md-3">
      <div class="form-group" >
        <label class="control-label" for="lastName">Last Name</label>
        <input type="text" class="form-control" name="lastName" [(ngModel)]="customer.lastName" #name="ngModel" required minlength="3"
          placeholder="Last Name (required)">
      </div>
    </div>
  </div>
  <div class="row">
    <div class="col-md-3">
      <div class="form-group" >
        <label class="control-label" for="email">Email</label>
        <input type="text" class="form-control" name="email" [(ngModel)]="customer.email" #name="ngModel" minlength="3" placeholder="Email">
      </div>
    </div>
    <div class="col-md-3">
      <div class="form-group">
        <label class="control-label" for="gender">Gender</label>
        <input type="text" class="form-control" name="gender" [(ngModel)]="customer.gender" #name="ngModel" minlength="3" placeholder="Gender">
      </div>
    </div>
    <div class="col-md-3">
      <div class="form-group">
        <label class="control-label" for="company">Company</label>
        <input type="text" class="form-control" name="company" [(ngModel)]="customer.company" #name="ngModel" minlength="3" placeholder="Company">
      </div>
    </div>
  </div>
</div>