<div class="container">
  <div class="panel-body" *ngIf="customer">
    <div class="wizard">
      <a [routerLink]="['basic']">
          Basic
          </a>
      <a [routerLink]="['addressHome']">
            Home Address
          </a>
      <a [routerLink]="['addressWork']">
            Work Address
          </a>
    </div>
    <div class="container">
      <div class="row">
        <div class="col-md-9"  style="border: solid 1px gray;">
          <router-outlet></router-outlet>
        </div>
        <div class="col-md-3">

        </div>
      </div>
      
    </div>
  </div>
  <div class="panel-footer">
    <div class="row">      
      <div class="col-md-5 col-md-offset-7">
        <button class="btn btn-warning" [routerLink]="['/customers']">
            <span class="fa fa-close fa-lg">&nbsp;Close</span> 
        </button>
        <button type="submit" class="btn btn-primary" [disabled]="!isValid" (click)="save()">
            <span class="fa fa-save fa-lg">&nbsp;Save</span>
            </button>
      </div>
    </div>
  </div>
</div>