<div>
	<nav class="navbar navbar-default navbar-inverse">
		<div class="container-fluid">
			<a class="navbar-brand">{{pageTitle}}</a>
			<ul class="nav navbar-nav">
				<li>
					<a [routerLink]="['/welcome']">Home</a>
				</li>
				<li>
					<a [routerLink]="['/customers']">Customer List</a>
				</li>
				<li>
					<a [routerLink]="['/customers', 0, 'edit']">Add Customer</a>
				</li>
				<li>
					<a [routerLink]="['/map']">Google Map</a>
				</li>
			</ul>
			<ul class="nav navbar-nav navbar-right">
				<li *ngIf="authService.isLoggedIn()">
					<a>Welcome {{ authService.currentUser.userName }}</a>
				</li>
				<li>
					<a>Show Messages</a>
				</li>
				<li *ngIf="!authService.isLoggedIn()">
					<a [routerLink]="['/login']">Log In</a>
				</li>
				<li *ngIf="authService.isLoggedIn()">
					<a (click)="logout()">Log Out</a>
				</li>
			</ul>
		</div>
	</nav>
	<div class="container Site">
		<router-outlet></router-outlet>
	</div>
	<!-- Site footer -->
	<footer class="footer">
		<div class="row">
			<div class="col-md-10 col-md-offset-2">
				<h4>&copy; Company {{currentDate}}</h4>
			</div>
		</div>		
	</footer>
</div>