:host {
    display: flex;
    flex-direction: column;
    position: absolute;
    top: 0;
    bottom: 0;
    left: 0;
    right: 0;   
}

.Site {
  display: flex;
  min-height: 80vh;
  flex-direction: column;
  flex: 1;
}

.Site-content {
  flex: 1;
}