<h3>Customer Detail</h3>
<div class="panel panel-primary" *ngIf="customer">
    <div class="panel-heading" style="font-size:large">
        {{pageTitle}}
    </div>
    <div class="panel-body">
        <div class="row">
            <div class="col-md-6">
                <div class="row">
                    <div class="col-md-3">First Name:</div>
                    <div class="col-md-6">{{customer.firstName}}</div>
                </div>
                <div class="row">
                    <div class="col-md-3">Last Name:</div>
                    <div class="col-md-6">{{customer.lastName}}</div>
                </div>
                <div class="row">
                    <div class="col-md-3">Street:</div>
                    <div class="col-md-6">{{customer.address.home.street}}</div>
                </div>
                <div class="row">
                    <div class="col-md-3">City:</div>
                    <div class="col-md-6">{{customer.address.home.city}}</div>
                </div>
                <div class="row">
                    <div class="col-md-3">Province:</div>
                    <div class="col-md-6">{{customer.address.home.province}}</div>
                </div>                
                <div class="row">
                    <div class="col-md-3">Postal Code:</div>
                    <div class="col-md-6">{{customer.address.home.postalCode}}</div>
                </div>
                <div class="row">
                    <div class="col-md-3">Country:</div>
                    <div class="col-md-6">{{customer.address.home.country}}</div>
                </div>
            </div>            
        </div>
        <div class="has-error" *ngIf="errorMessage">{{errorMessage}}</div>
    </div>

    <div class="panel-footer">
        <div class="row">
            <div class="col-md-12 col-md-offset-8">
                <button class="btn btn-warning" [routerLink]="['/customers']">
                    <span class="fa fa-close fa-lg">&nbsp;Cancel</span> 
                </button>
                <button class="btn btn-primary" [routerLink]="['/customers', customer.id, 'edit']" style="width:80px;margin-left:10px">
                    <span class="fa fa-edit fa-lg">&nbsp;Edit</span>
                </button>
            </div>
        </div>
        
    </div>
</div>