<kendo-grid [data]="gridView" [selectable]="true" [height]="585" [pageable]="true" [pageSize]="pageSize" (dataStateChange)="dataStateChange($event)">
	<kendo-grid-column field="id" title="Id" width="35px">
	</kendo-grid-column>
	<kendo-grid-column field="firstName" title="First Name" width="75px">
	</kendo-grid-column>
	<kendo-grid-column field="lastName" title="Last Name" width="75px">
	</kendo-grid-column>
	<kendo-grid-column field="address.home.street" title="Street" width="175px">
	</kendo-grid-column>
	<kendo-grid-column field="address.home.city" title="City" width="100px">
	</kendo-grid-column>
	<kendo-grid-column field="address.home.postalCode" title="Postal Code" width="75px">
	</kendo-grid-column>
	<kendo-grid-column field="address.home.province" title="Province" width="100px">
	</kendo-grid-column>
	<kendo-grid-column title="action" field="id" width="75px">
		<ng-template kendoGridCellTemplate let-dataItem>
			<button (click)="viewCustomer(dataItem)" class="btn btn-default" style="float: left;">				
				<span class="fa fa-eye fa-lg">&nbsp;View</span>
			</button>
			<!--<button (click)="editCustomer(dataItem)" class="k-button k-primary" style="float: left;">Edit</button>-->
		</ng-template>
	</kendo-grid-column>
</kendo-grid>

<!--Selected Customer Id: {{ selectedCustomer && selectedCustomer.id}}-->