<div class="row">
  <h4 class="col-md-10">Message Log</h4>
  <span class="col-md-2">
                <a class="btn btn-default"
                    (click)="close()">
                    x
                </a>
            </span>
</div>
<div *ngFor="let message of messageService.messages; let i=index">
  <div *ngIf="i<10" class="message-row">
    {{ message }}
  </div>
</div>