/* You can add global styles to this file, and also import other style files */


@import '~../node_modules/bootstrap/dist/css/bootstrap.min.css';
@import '~../node_modules/bootstrap/dist/css/bootstrap-theme.min.css';
@import '~../node_modules/font-awesome/css/font-awesome.min.css';
/*@import '~/../node_modules/primeng/resources/primeng.min.css';
@import '~/../node_modules/primeng/resources/themes/bootstrap/theme.css';*/

/*@import '~/../node_modules/primeng/components/datagrid/datagrid.css';
@import '~/../node_modules/primeng/components/datalist/datalist.css'; 
@import '~/../node_modules/primeng/components/grid/grid.css'; 
@import '~/../node_modules/primeng/components/menu/menu.css'; */

@import '~https://fonts.googleapis.com/icon?family=Material+Icons';
@import '~@angular/material/prebuilt-themes/indigo-pink.css';

@import "~@progress/kendo-theme-default/dist/all.css";

@import "~app/assets/css/main.css"

      
/*body {
  margin: 0;
  font-family: Roboto, sans-serif;
}

md-card {
  max-width: 80%;
  margin: 2em auto;
  text-align: center;
}

md-toolbar-row {
  justify-content: space-between;
}

.done {
  position: fixed;
  bottom: 20px;
  right: 20px;
  color: white;
}*/