<div class="panel panel-primary">
    <div class="panel-heading">
        {{pageTitle}}
    </div>
    <div class="panel-body">                
        <div class="row" >
            <img [src]="imagePath" 
                 class="img-responsive center-block"
                 style="max-height:20.0rem;padding-bottom:1.0rem"/>
        </div>
    </div>
</div>